*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase; 
    margin: 0;
    padding: 0;
}

.container{
    position: fixed;
    top: 20px;
    width: 100%;
    background-color: grey;
}

.container ul{
    list-style: none;
}
.container .firstNav{
    background-color: grey;
    display: flex;
}

.container .firstNav li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    position: relative;
}


.container .firstNav li a:hover{
    background-color: white;
    color: gray;
}

.container ul ul{
    display: none;
}

.container ul li a:hover{
    background-color: white;
    color: gray;
}

.container ul li:hover > ul{
    display: flex;
    flex-direction: column;
}

.container ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
}

a{
    text-decoration: none;
    background-color: grey;
    color: white;
    display: block;
}
